body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebe9e9;
}

header {
    background-color: #257;
    color: white;
    padding: 10px 0;
    text-align: center;
    bottom: 20px;
}

h1, h2 {
    font-size: 3.5em;
    margin: 20px;
    
}

#listaProductos, #carrito {
    font-size: 2em;
    font-family: Arial, sans-serif;
    margin: 0 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#listaProductos li, #carrito li {
    list-style-type: none;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #000;
    background-color: #fff;
    flex: 1 0 37%;
    text-align: center;
}

#productoInput {
    border-radius: 50px;
    font-size: 2em;
    width: 90%;
    left: 50%;
    height: 65px;
    padding: 10px;
    margin: 20px;


}



button {
    font-size: 2em;
    display: block;
    width: 90%;
    padding: 10px;
    margin: 20px auto;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
}

#carrito {
    list-style-type: none;
    margin: 0 20px;
    padding: 0;
}

#carrito li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #333;
    background-color: #f9f9f9;
}
#microfonoBtn {
    display: block;
    width: 125px;
    height: 125px;
    margin: 20px auto;
    font-size: 30px;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
