body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebe9e9;
}

header {
    background-color: #257;
    color: white;
    padding: 10px 0;
    text-align: center;
    bottom: 20px;
}

h1, h2 {
    font-size: 3.5em;
    margin: 20px;
    
}

#listaProductos, #carrito {
    font-size: 2em;
    font-family: Arial, sans-serif;
    margin: 0 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
#popupCarrito {
    display: none; /* Oculta el carrito por defecto */
    position: fixed; /* Posiciona el carrito de manera fija */
    bottom: -100%; /* Inicialmente, el carrito está fuera de la vista */
    left: 0;
    width: 100%; /* Asegura que el carrito ocupe todo el ancho */
    height: 50%; /* Ajusta la altura según sea necesario */
    background-color: white; /* Color de fondo del carrito */
    z-index: 50; /* Asegura que el carrito esté por encima de otros elementos */
    overflow-y: auto; /* Permite el desplazamiento vertical dentro del carrito */
    transition: bottom 0.5s ease-out; /* Añade una transición suave al mostrar/ocultar el carrito */
    border-top-left-radius: 50px; /* Bordes redondeados por arriba */
    border-top-right-radius: 50px;
    box-shadow: 0 -2px 70px rgba(0, 0, 0, 0.1); /* Sombra hacia arriba */
}
#listaProductos li {
    position: relative;
    list-style-type: none;
    margin: 10px 0;
    min-height: 300px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #fff;
    flex: 1 0 100%; /* Cambia a 100% para que solo se muestre un producto a la vez */
    text-align: center;
    width: 90%;
}
.producto-texto {
    position: relative;
    right: 0px;
    left: 65px;
    z-index: 2;
    order: 1; /* Asegura que el texto aparezca arriba */
    
    
    margin-top: 25px;
}

.producto-imagen {
    position: absolute;
    top: 30px;
    z-index: 1;
    left: 20px;
    order: 2; /* Asegura que la imagen aparezca en el medio */
    width: 100%; /* Asegura que la imagen ocupe todo el ancho */
    text-align: left; /* Centra la imagen */
}
.producto-estrellas {
    font-size: 55px; /* Ajusta el tamaño de las estrellas */
    text-align: center; /* Centra las estrellas */
}
.producto-boton {
    z-index: 3;
    position: absolute;
    text-align: right; /* Alinea el botón a la derecha */
    padding-right: 10px; /* Añade un poco de espacio a la derecha */
    bottom: 30px;
    right: 20px;
    margin-top: -20px;
}
.producto-boton button {
    font-size: 25px; /* Aumenta el tamaño de la fuente */
    padding: 30px 40px; /* Aumenta el padding */
    border-radius: 50px; /* Hace el botón redondo */
    background-color: #f44336; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Elimina el borde */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

#carrito li {
    list-style-type: none;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #000;
    background-color: #fff;
    flex: 1 0 100%;
    text-align: center;
}

#productoInput {
    border-radius: 50px;
    font-size: 2em;
    width: 80%;
    height: 65px;
    padding: 10px;
    margin: 20px;
}

#agregarBtn {
    font-size: 2em;
    display: inline-block;
    width: 65px;
    height: 65px;
    padding: 10px;
    margin: 20px;
    background-color: #fff;
    border: 2px solid green;
    border-radius: 50%;
    color: green;
    cursor: pointer;
}

#costeTotal {
    font-size: 2em;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    text-align: right;
}

#carrito {
    list-style-type: none;
    margin: 0 20px;
    padding: 0;
}

#carrito li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #333;
    background-color: #f9f9f9;
}

#microfonoBtn {
    z-index: 48;
    display: block;
    width: 125px;
    height: 125px;
    margin: 20px auto;
    font-size: 30px;
    position: fixed;
    left: 40%; /* Ajustado para centrar ambos botones */
    bottom: 0;
    transform: translateX(-50%);
    border: 10px solid black; /* Borde negro */
    border-radius: 50%; /* Hace que sea un círculo */
}

#microfonoBtn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: white; /* Círculo blanco */
    border-radius: 50%; /* Hace que sea un círculo */
    z-index: -1; /* Coloca el círculo detrás de la imagen */
}

#microfonoBtn.active::before {
    background: lightgreen; /* Cambia el fondo blanco a verde */
}

#microfonoBtn img {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%; /* Hace que la imagen sea un círculo */
}

#modoUnaManoBtn {
    z-index: 48;
    display: block;
    width: 125px;
    height: 125px;
    margin: 20px auto;
    font-size: 30px;
    position: fixed;
    left: 60%; /* Ajustado para centrar ambos botones */
    bottom: 0;
    transform: translateX(-50%);
    background-image: url('/img/unamano.png'); /* Ruta a tu imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el botón */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
        border-radius: 50%; /* Hace el botón circular */
}
/* Estilos para los botones del carrito */
.carrito-btn {
    border: none;
    padding: 10px 15px; /* Aumenta el padding para hacerlos más grandes */
    margin: 0 5px;
    cursor: pointer;
    font-size: 18px; /* Aumenta el tamaño de fuente para hacerlos más grandes */
    border-radius: 50%; /* Hace los botones redondos */
}

.carrito-btn-minus, .carrito-btn-plus {
    background-color: #ffa000; /* Rojo */
    color: white;
    font-size: 40px;
    width: 60px;
    margin: 10px;
}

.carrito-btn-remove {
    background-color: #000000; /* Rojo */
    color: white;
    font-size: 40px;
    width: 60px;
    margin: 10px;
}

.categorias {
    margin-left: 25px;
    display: flex;
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    white-space: nowrap; /* Evita que los elementos se ajusten a la siguiente línea */
    margin-top: 20px; /* Añade un poco de espacio por encima de las categorías */
    margin-bottom: 10px;
}

.categoria {
    padding: 10px;
    margin-right: 10px;
    background-color: #f44336; /* Color de fondo de las categorías */
    color: white; /* Color del texto de las categorías */
    border-radius: 10px; /* Hace las categorías redondas */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    flex: 0 0 auto; /* Evita que las categorías se estiren */
    font-size: 40px; /* Aumenta el tamaño de la fuente */
}

#mostrarCarritoBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
    background: none;
    border: none;
    cursor: pointer;
}

#mostrarCarritoBtn img {
    width: 85px;
    height: 85px;
}

#numeroItemsCarrito {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 25px;
    width: 30px;
    height: 30px;
}

#cerrarCarritoBtn {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: #f44336; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Elimina el borde */
    padding: 10px 20px; /* Ajusta el padding */
    border-radius: 50%; /* Hace el botón redondo */
    font-size: 20px; /* Aumenta el tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    font-size: 30px;
}

/* Estilos para el modo de una sola mano */
.modo-una-mano .producto-texto {
    text-align: center;
    margin-top: 20px;
    left: 0;
    font-size: 50px;
}

.modo-una-mano .producto-imagen {
    position: static;
    margin: 0 auto;
    text-align: center;
}

.modo-una-mano .producto-imagen img {
    max-width: 80%;
    max-height: 500px;
    width: 500px;
    object-fit: contain;
}

.modo-una-mano .producto-estrellas {
    text-align: center;
    margin-top: 10px;
}

.modo-una-mano .producto-boton{
    position: static;
    text-align: center;
    margin-top: 20px;
}
.modo-una-mano .producto-boton button{
    font-size: 50px;
}